@import 'tailwindcss';
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

a.active {
  background-color: gray;
  color: white;
}